/* --------------------------
  Base Styles
--------------------------- */

@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gelasio:400,500,600,700&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  /* This defines what 1rem is | 1 rem = 10px; 10px/16px = 62.5% */
    font-size: 62.5%; 
}

body {
    box-sizing: border-box;
    color: #000; 
    background-color: #f9f9f9;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    line-height: 1.5;
}

ul, 
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: #656565;
  text-decoration: none;
  font-weight: 400;
}

img {
  display: block;
  width: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* --------------------------
  Main Styles (Mobile First)
--------------------------- */

.main-header, 
.nav {
  display: flex;
  flex-direction: column;
}

.main-header {
  padding-top: 2rem;
}

.name {
  font-size: 2.5rem;
  text-align: center;
}

.nav {
  margin-top: 2rem;
}

.nav a {
  display: block;
  background-color: rgb(255,255,255);
  color: rgb(64,64,64);
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  padding: .8rem 0;
  margin-bottom: 1rem;
}

img.profile {
  max-width: 80%;
  margin: 2rem auto;
}

.intro p {
  font-size: 1.7rem;
  text-align: center;
}