/* --------------------------
  Base Styles
--------------------------- */

@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gelasio:400,500,600,700&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  /* This defines what 1rem is | 1 rem = 10px; 10px/16px = 62.5% */
    font-size: 62.5%; 
}

body {
    box-sizing: border-box;
    color: #000; 
    background-color: #f9f9f9;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    line-height: 1.5;
}

ul, 
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: #656565;
  text-decoration: none;
  font-weight: 400;
}

img {
  display: block;
  width: 100%;
}

h2 {
  font-size: 2rem;
  text-transform: uppercase;
}

h4 {
  font-size: 2rem;
  font-weight: 300;
}

p {
  font-size: 1.8rem;
}

.container,
.projects,
.main-footer {
  width: 90%;
  margin: 0 auto;
}

/* --------------------------
  Main Styles (Mobile First)
--------------------------- */

.main-header, 
.nav {
  display: flex;
  flex-direction: column;
}

.main-header {
  padding-top: 2rem;
}

.name {
  font-size: 2.5rem;
  text-align: center;
}

.nav {
  margin-top: 2rem;
}

.nav a {
  display: block;
  background-color: #fff;
  color: rgb(64,64,64);
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  padding: .8rem 0;
  margin-bottom: 1rem;
}

img.profile {
  max-width: 80%;
  margin: 2.5rem auto;
}

.intro p {
  text-align: center;
  margin-bottom: 2rem;
}

/* --------------------------
  Portfolio Section Styles (Mobile First)
--------------------------- */

.portfolio {
  background-color: #fff;
  padding: 4rem 0;
}

.portfolio h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.portfolio li {
  text-align: center;
}

.portfolio li:not(:last-child) {
  margin-bottom: 2.5rem;
}

.portfolio img {
  max-width: 95%;
  margin: 2.5rem auto;
}

.portfolio h4 {
  margin-bottom: 1rem;
}

.portfolio p {
  font-weight: 300;
  font-size: 1.6rem;

}

/* --------------------------
  Footer Styles (Mobile First)
--------------------------- */

.main-footer {
  padding: 4rem 0 2rem;
  text-align: center;
}

.main-footer .wrapper {
  padding-bottom: 4em;
  border-bottom: 1px solid lightgray;
}

.main-footer h4 {
  margin-bottom: 2rem;
}

.main-footer p.description {
  font-weight: 300;
  margin-bottom: 2rem;
}

.main-footer .phone,
.main-footer .email {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-footer .phone p,
.main-footer .email p {
  font-weight: 300;
  padding-right: 2rem;
}

.main-footer a {
  font-size: 1.5rem;
  font-weight: 600;
}

.main-footer .inner-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
}

.main-footer .inner-wrapper h2 {
  text-transform: none;
}

